<h1><%= @patient.name %></h1>

<table>
		<th>Timestamp</th>
		<th>Reading</th>
	<% @patient.patient_data.each do |datum| %>
		<tr>
			<td><%= datum.created_at.strftime("%b %d, %Y %H:%M") %></td>
			<td align = center><%= datum.decimal %></td>
		</tr>
	<% end %>
</table>

 <div id="sample2" style="min-width: 400px; height: 400px; margin: 0 auto">
    </div>

    <script type="text/javascript">
        var chart2;
        $(document).ready(function () {
        chart2 = new Highcharts.Chart({
                    chart: {
                        renderTo: 'sample2',
                        type: 'spline'
                    },
                     title: {

                                text: 'Patient INR Data'

                            },

                            subtitle: {

                                text: ''

                            },

                    xAxis: {
                        type: 'datetime',
                        title: {
                            text: 'Date/Time'
                        }

                        },
                    yAxis: {
                        title: {
                            text: 'Patient INR Readings'
                        },
                        min: 0,
                        minorGridLineWidth: 0,
                        gridLineWidth: 0,
                        alternateGridColor: null,
                        plotBands: [{ // Light air
                            from: 0,
                            to: 1,
                            color: 'rgba(250, 0, 0, 0.2)',
                            label: {
                                text: '',
                                style: {
                                    color: '#606060'
                                }
                            }
                        }, { // Light breeze
                            from: 1,
                            to: 2,
                            color: 'rgba(255, 255, 0, 0.2)',
                            label: {
                                text: '',
                                style: {
                                    color: '#606060'
                                }
                            }
                        }, { // Gentle breeze
                            from: 2,
                            to: 3,
                            color: 'rgba(0, 250, 0, 0.2)',
                            label: {
                                text: '',
                                style: {
                                    color: '#606060'
                                }
                            }

                        },{ // Light air
                            from: 3,
                            to: 10,
                            color: 'rgba(250, 0, 0, 0.2)',
                            label: {
                                text: '',
                                style: {
                                    color: '#606060'
                                }
                            }
                        }]
                    },
                    tooltip: {
                        formatter: function() {
                                return ''+
                                Highcharts.dateFormat('%b %e, %Y, %H:%M', this.x) +': '+ this.y;
                        }
                    },
                    plotOptions: {
                        spline: {
                            lineWidth: 4,
                            states: {
                                hover: {
                                    lineWidth: 5
                                }
                            },
                            marker: {
                                enabled: false,
                                states: {
                                    hover: {
                                        enabled: true,
                                        symbol: 'circle',
                                        radius: 5,
                                        lineWidth: 1
                                    }
                                }
                            },
                            pointInterval: 86400000, // one day
                            pointStart: Date.UTC(<%= @patient.patient_data.first.created_at.strftime("%Y, %m-1, %d, %H, %M, %S") %>) //Date.UTC(2009, 9, 6, 0, 0, 0)
                        }
                    },
                    series: [{
                        name: 'INR Data',
                        data: [<% @patient.patient_data.each do |datum| %>
								                [Date.UTC(<%= datum.created_at.strftime("%Y, %m-1, %d, %H, %M, %S")%>), <%=datum.decimal %>],
							                <% end %> ]  //Y axis data
                        }]
                    ,
                    navigation: {
                        menuItemStyle: {
                            fontSize: '10px'
                        }
                    }
                });

        });
    </script>


</br>
<%= link_to "Back", users_dashboard_path %>

